# ============================================================================
# Configuration Environnement - Pipeline Commentaires Toxiques
# ============================================================================

# Mode Producer
# "test" = commentaires simulés | "facebook" = vraie API Facebook
PRODUCER_MODE=facebook

# Facebook Graph API (requis si PRODUCER_MODE=facebook)
FACEBOOK_ACCESS_TOKEN=EAATQPWLZCNMkBQDSZBdJ7ItajJlOLX7y2dDHLVVuudIgOyVQXAZCUatELnWZCrK8WzkWoGIfN6ljtZBjQ7jDunHAwgEHLLUEk50VgOzAGQoQ5U6wXX3T5YC2DZAEycUWiuZATfwYZCaQqnbBVEJ7JEsaoDyw3lWtkOrcKZAGNHO87NPSNZAcE8eZC3nM1p67G2KbBV5RVDrigbkvSsZAKTcfZCT39IIS1UCxsQV29wmMe98OFqgZDZD
FACEBOOK_PAGE_ID=143748515489111

# Kafka
KAFKA_BOOTSTRAP_SERVERS=kafka:9092

# PostgreSQL
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=toxic_coments_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=majid2020

# ML Model
TOXICITY_THRESHOLD=0.5

# Polling interval (secondes)
POLLING_INTERVAL=15
