# Configuration Facebook API
# Obtenir sur https://developers.facebook.com/
FACEBOOK_ACCESS_TOKEN=your_facebook_access_token_here
FACEBOOK_PAGE_ID=your_page_id_here

# Mode du producer
PRODUCER_MODE=facebook

# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=toxic_coments_db
