# ============================================================================
# Configuration Environnement - Pipeline Commentaires Toxiques
# ============================================================================

# Mode Producer
# "test" = commentaires simulés | "facebook" = vraie API Facebook
PRODUCER_MODE=facebook

# Facebook Graph API (requis si PRODUCER_MODE=facebook)
FACEBOOK_ACCESS_TOKEN=EAATQPWLZCNMkBQJxk3j3znlpYPsz93ofg6ez3EjZCzKQ3375hvnn6jkCPsqyl55cCNVzdKNQjVDDNyCPzLbZCcxdlldRNF9jw9qgxwZBzmoqfevnvq1cXnpJ1zM3y7CK8c5ZAFg9uPzOHE1FPBHZBToQ3k4CuCSQY2oQH77UZAFUctDq5pFiYUC3P1x6MzUiVNUHlesjGZCZCUWjT4JgOO1kHG4R8QaDCr10dMwPOlcAqWwZDZD
FACEBOOK_PAGE_ID=143748515489111

# Kafka
KAFKA_BOOTSTRAP_SERVERS=kafka:9092

# PostgreSQL
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=toxic_coments_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=majid2020

# ML Model
TOXICITY_THRESHOLD=0.5

# Polling interval (secondes)
POLLING_INTERVAL=15
