# Environment variables (contient le token Facebook!)
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
dist/
build/

# Virtual environments
venv/
env/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
logs/

# Docker volumes data
postgres_data/
kafka_data/

# Checkpoints Spark
checkpoints/
spark-warehouse/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
